@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #F2F2F2;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #323232;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .item__title, .item__text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }